@media screen and (max-width: 1399px) {

    #hamburg {
        display: block;
        margin-right: 12px;
        margin-left: -53px;
    }

    #header .navFlex {
        display: none !important;
    }

    #renderBullets {
        display: none;
    }

    .commonMT {
        margin-top: 70px;
    }
}

@media screen and (max-width: 574px) {

    #header .navLogo img {
        width: 80%;
        margin-left: 12px;
    }
}


@media screen and (min-width: 1400px) and (max-width: 1650px) {

    #header .navFlex {
        gap: 0;
    }

    .nav-link {
        font-size: 16px !important;
        padding: 0px 9px !important;
    }

    .commonTexts {
        padding: 20px 200px;
    }

    .megaSale {
        padding: 0px 80px;
        padding-right: 155px;
    }

    .megaSale .saleLeftDiv .saleHeadline {
        font-size: 60px;
    }

    .megaSale .saleLeftDiv .offerWrapper {
        left: 158px;
    }

    #bundles .card .cardImg .appImg {
        top: 20px;
    }

    #bundles .card .productDetails .card-text {
        font-size: 20px;
    }

    #testimonials {
        margin-top: 320px;
    }

    #newsletter {
        top: -160px;
    }

    #newsletter .row {
        padding: 20px 123px;
    }

    footer .cpyRight {
        margin-top: -170px;
        padding: 50px;
    }


}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .megaSale {
        padding: 0px 44px;
        padding-right: 140px;
    }

    .megaSale .saleLeftDiv .saleHeadline {
        font-size: 55px;
    }

    .megaSale .saleLeftDiv .midLine {
        font-size: 50px;
    }

    .megaSale .saleLeftDiv .offerWrapper {
        left: 268px;
        top: 30px;
    }

    .megaSale .saleLeftDiv {
        padding-top: 126px;
    }

    .megaSale .saleLeftDiv .offerShape {
        left: 236px;
        top: 30px;
    }

    .megaSale .saleLeftDiv .offerWrapper .offerShape img {
        width: 172px;
    }

    .megaSale .saleLeftDiv .offerShapeText {
        left: 285px;
        top: 62px;
        font-size: 36px;
        line-height: 38px;
    }

    .megaSale .saleLeftDiv .saleHeadline {
        margin-top: -32px;
    }

    .megaSale .saleLeftDiv .evanto {
        margin-top: -12px;
        margin-bottom: 12px;
    }

    .commonTexts {
        padding: 20px 200px;
    }

    #bundles .row .col-lg-4 {
        width: 50%;
    }

    #whyChoose .whyChooseImg img {
        width: 92%;
    }

    #newsletter {
        top: -194px;
    }

    #newsletter .row {
        padding: 22px 123px;
    }


}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .megaSale {
        overflow: hidden;
    }

    .megaSale {
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-right: 0px;
    }

    .megaSale .col-lg-9 {
        margin-left: -116px;
    }

    .megaSale .col-lg-9,
    #whyChoose .row .col-lg-6,
    #newsletter .row .col-lg-6 {
        width: 100%;
    }

    .megaSale .saleLeftDiv {
        padding-top: 126px;
        left: 120px;
    }

    .megaSale .saleLeftDiv .offerShape {
        left: 385px;
        top: -98px;
    }

    .megaSale .saleLeftDiv .offerShapeText {
        left: 446px;
        top: -62px;
    }

    .commonTexts {
        padding: 20px 30px;
    }

    #bundles .row .col-lg-4 {
        width: 50%;
    }

    #bundles .card .productDetails .card-text {
        font-size: 20px;
    }

    #whyChoose .whyChooseImg img {
        width: auto;
    }

    #newsletter {
        top: -160px;
        padding: 12px 50px;
    }

    #newsletter .row {
        padding: 20px 12px;
        gap: 30px;
        align-items: flex-start;
    }

    #chooseUs .wrapper {
        padding: 50px 0px;
    }

    #counter .row .col-lg-3 {
        width: 50%;
    }

    #whyChoose .whyChooseContent {
        align-items: center;
    }

    footer {
        margin-top: 270px;
    }

    footer .cpyRight {
        margin-top: -170px;
        padding: 60px;
    }

    .countdownOver .boldText {
        font-size: 40px;
    }


}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .megaSale {
        overflow: hidden;
    }

    .megaSale {
        align-items: center;
        justify-content: center;
        padding: 0px 36px;
        padding-right: 0px;
    }

    .megaSale .saleRightDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .megaSale .saleRightDiv .saleImgBottom {
        margin-left: 12px;
    }

    .megaSale .saleLeftDiv {
        padding-top: 94px;
        left: 0px;
    }

    .megaSale .saleLeftDiv .saleHeadline {
        font-size: 60px;
    }

    .megaSale .saleLeftDiv .offerShape {
        left: 385px;
        top: -98px;
    }

    .megaSale .saleLeftDiv .offerWrapper {
        position: absolute;
        left: 80px;
        top: 144px;
    }

    .megaSale .saleLeftDiv .offerWrapper .offerShape img {
        width: 140px;
    }

    .megaSale .saleLeftDiv .offerShapeText {
        left: 424px;
        top: -76px;
        font-size: 28px;
        line-height: 38px;
    }

    .megaSale .saleLeftDiv .midLine {
        font-size: 65px;
    }

    #countdown .countdownDiv .countdown-container {
        gap: 24px;
    }

    .commonTexts {
        padding: 20px 0px;
    }

    #bundles .row .col-lg-4 {
        width: 100%;
    }

    #whyChoose .whyChooseImg img {
        width: auto;
    }

    #newsletter {
        top: -160px;
        padding: 12px 50px;
    }

    #newsletter .row {
        padding: 20px 12px;
        gap: 30px;
        align-items: flex-start;
    }

    #chooseUs .chooseUsImg {
        justify-content: center;
    }

    #chooseUs .chooseUsImg::after {
        width: 56vw;
    }

    #chooseUs .wrapper {
        padding: 50px 0px;
    }

    #counter .row .col-lg-3 {
        width: 50%;
    }

    #whyChoose .whyChooseContent {
        align-items: center;
    }

    footer {
        margin-top: 270px;
    }

    footer .cpyRight {
        margin-top: -170px;
        padding: 60px;
    }


    .countdownOver .boldText {
        font-size: 34px;
    }

    .countdownOver span {
        font-size: 32px;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {

    .megaSale {
        overflow: hidden;
    }

    .megaSale {
        align-items: center;
        justify-content: center;
        padding: 0px 36px;
        padding-right: 0px;
    }

    .megaSale .saleRightDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .megaSale .saleRightDiv .saleImgBottom {
        margin-left: 12px;
    }

    .megaSale .saleLeftDiv {
        padding-top: 40px;
        left: 0px;
        gap: 12px;
    }

    .megaSale .saleLeftDiv .saleHeadline {
        font-size: 55px;
        line-height: 70px;
        text-align: center;
        margin-left: -55px;
    }

    .megaSale .saleLeftDiv .offerShape {
        left: 385px;
        top: -98px;
    }

    .megaSale .saleLeftDiv .offerWrapper {
        position: absolute;
        left: -54px;
        top: 104px;
    }

    .megaSale .saleLeftDiv .offerWrapper .offerShape img {
        width: 114px;
    }

    .megaSale .saleLeftDiv .offerShapeText {
        left: 418px;
        top: -80px;
        font-size: 23px;
        line-height: 30px;
        text-shadow: none;
    }

    .megaSale .saleLeftDiv .midLine {
        font-size: 60px;
    }

    .megaSale .saleLeftDiv .desc {
        width: 100%;
    }

    #countdown .countdownDiv .countdown-container {
        gap: 12px;
    }

    .commonHeadline {
        font-size: 34px;
    }

    .commonTexts {
        padding: 20px 0px;
    }

    #bundles .row .col-lg-4 {
        width: 100%;
    }

    #whyChoose .whyChooseContent .card {
        flex-direction: column;
        align-items: flex-start;
    }

    #whyChoose .whyChooseImg img {
        width: 100%;
    }

    #newsletter {
        top: -160px;
        padding: 12px 50px;
    }

    #newsletter .row {
        padding: 20px 12px;
        gap: 30px;
        align-items: flex-start;
    }

    #chooseUs .chooseUsImg {
        justify-content: center;
    }

    #chooseUs .chooseUsImg::after {
        width: 56vw;
    }

    #chooseUs .wrapper {
        padding: 50px 0px;
    }

    #counter .row .col-lg-3 {
        width: 50%;
    }

    #whyChoose .whyChooseContent {
        align-items: center;
    }

    footer {
        margin-top: 270px;
    }

    footer .cpyRight {
        margin-top: -170px;
        padding: 60px;
    }

    .countdownOver .boldText {
        font-size: 24px;
    }

    .countdownOver span {
        font-size: 24px;
    }
}

@media screen and (min-width: 400px) and (max-width: 574px) {

    .megaSale {
        overflow: hidden;
    }

    .megaSale {
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        padding-right: 0px;
    }

    .megaSale .saleRightDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
    }

    .megaSale .saleRightDiv .saleImgBottom {
        margin-left: 12px;
    }

    .megaSale .saleLeftDiv {
        padding-top: 40px;
        left: 0px;
        gap: 12px;
    }

    .megaSale .saleLeftDiv .saleHeadline {
        font-size: 45px;
        line-height: 60px;
        text-align: center;
        margin-left: -55px;
    }

    .megaSale .saleLeftDiv .offerShape {
        left: 385px;
        top: -98px;
    }

    .megaSale .saleLeftDiv .offerWrapper {
        position: absolute;
        left: -140px;
        top: 104px;
    }

    .megaSale .saleLeftDiv .offerWrapper .offerShape img {
        width: 114px;
    }

    .megaSale .saleLeftDiv .offerShapeText {
        left: 418px;
        top: -80px;
        font-size: 23px;
        line-height: 30px;
        text-shadow: none;
    }

    .megaSale .saleLeftDiv .midLine {
        font-size: 40px;
    }

    .megaSale .saleLeftDiv .desc {
        font-size: 24px;
        width: 100%;
    }

    #countdown .countdownDiv .countdown-container {
        gap: 12px;
    }

    #countdown .countdownDiv {
        font-size: 25px;
    }


    #countdown .countdownDiv .countdown-container .countdown-box .countTimer {
        padding: 8px 18px;
        font-size: 20px;
    }

    #countdown .countdownDiv .countdown-container .countdown-box .countdown-label {
        font-size: 16px;
    }

    .commonHeadline {
        font-size: 24px;
    }

    .commonTexts {
        padding: 20px 0px;
    }

    #bundles .row .col-lg-4 {
        width: 100%;
    }

    #bundles .card .cardImg .appImg {
        top: 22px;
    }

    #bundles .card .cardImg .appImg img {
        height: 240px;
    }

    #bundles .card .productDetails .card-title {
        font-size: 22px;
    }

    #bundles .card .productDetails .card-text {
        font-size: 16px;
    }

    #bundles .card .productDetails .card-text svg {
        margin-right: 6px;
    }

    #bundles .card .cardFooter .salePriceDiv .price {
        font-size: 26px;
    }

    #bundles .card .cardFooter .buyBtn {
        font-size: 18px;
    }

    #whyChoose .whyChooseContent .card {
        flex-direction: column;
        align-items: flex-start;
    }

    #whyChoose .whyChooseImg img {
        width: 100%;
    }

    #newsletter {
        top: -160px;
        padding: 12px 50px;
        width: 90%;
    }

    #newsletter .row {
        padding: 20px 12px;
        gap: 30px;
        align-items: flex-start;
    }

    #newsletter .newsletterText .nlTitle {
        font-size: 38px;
    }

    #newsletter .newsletterText .nlText {
        font-size: 20px;
    }

    #chooseUs .chooseUsImg {
        justify-content: center;
    }

    #chooseUs .chooseUsImg::after {
        width: 56vw;
    }

    #chooseUs .wrapper {
        padding: 50px 0px;
    }

    #counter .countWrapper {
        padding: 20px;
    }

    #counter .countWrapper .countCard {
        justify-content: start;
    }

    #whyChoose .whyChooseContent .card .cardInnerFlex {
        width: 100%;
    }

    #whyChoose .whyChooseContent {
        align-items: center;
    }

    footer {
        margin-top: 270px;
    }

    footer .cpyRight {
        margin-top: -170px;
        padding: 60px;
    }

    .countdownOver .boldText {
        font-size: 18px;
        margin-top: 10px;
    }

    .countdownOver span {
        font-size: 20px;
    }


}

@media screen and (max-width: 399px) {

    .megaSale,
    #solutions,
    #newsletter,
    #counter,
    #bundles,
    #chooseUs,
    #whyChoose,
    #testimonials {
        overflow: hidden;
    }

    .commonMT {
        margin-top: 50px;
    }

    .megaSale {
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        padding-right: 0px;
    }


    .megaSale .saleRightDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
    }

    .megaSale .saleRightDiv .saleImgBottom {
        margin-left: -4px;
        margin-top: -20px;
    }

    .megaSale .saleRightDiv .saleImgBottom img {
        width: 300px;
    }

    .megaSale .saleLeftDiv {
        padding-top: 30px;
        left: 0px;
        gap: 6px;
    }

    .megaSale .saleLeftDiv .evanto {
        font-size: 26px;
    }

    .megaSale .saleLeftDiv .saleHeadline {
        font-size: 38px;
        line-height: 50px;
        text-align: center;
        margin-left: -18px;
    }

    .megaSale .saleLeftDiv .offerShape {
        left: 385px;
        top: -98px;
    }

    .megaSale .saleLeftDiv .offerWrapper {
        position: absolute;
        left: -200px;
        top: 104px;
    }

    .megaSale .saleLeftDiv .offerWrapper .offerShape img {
        width: 90px;
    }

    .megaSale .saleLeftDiv .offerShapeText {
        left: 410px;
        top: -84px;
        font-size: 20px;
        line-height: 24px;
        text-shadow: none;
    }

    .megaSale .saleLeftDiv .midLine {
        font-size: 34px;
    }

    .megaSale .saleLeftDiv .desc {
        font-size: 22px;
        width: 100%;
    }


    .megaSale .saleRightDiv .saleImg img {
        width: 100%;
    }

    #countdown .countdownDiv .countdown-container {
        gap: 10px;
    }

    #countdown .countdownDiv {
        font-size: 25px;
    }


    #countdown .countdownDiv .countdown-container .countdown-box .countTimer {
        padding: 8px 12px;
        font-size: 20px;
    }

    #countdown .countdownDiv .countdown-container .countdown-box .countdown-label {
        font-size: 16px;
    }


    .commonHeadline {
        font-size: 22px;
        line-height: 38px;
    }

    .commonTexts {
        padding: 20px 0px;
    }

    #solution .solutionBtn {
        padding: 2px;
    }

    #counter .countWrapper .countCard .countContent .countNum {
        font-size: 34px;
    }

    #bundles .row .col-lg-4 {
        width: 100%;
    }

    #bundles .card .cardImg .appImg {
        top: 42px;
    }

    #bundles .card .cardImg .appImg img {
        height: 176px;
    }

    #bundles .card .productDetails .card-title {
        font-size: 22px;
        height: 50px;
    }

    #bundles .card .productDetails .card-text {
        font-size: 16px;
    }

    #bundles .card .productDetails {
        margin: 0;
    }

    #bundles .card .productDetails .card-text svg {
        margin-right: 4px;
    }

    #bundles .card .cardFooter .salePriceDiv .price {
        font-size: 26px;
    }

    #bundles .card .cardFooter .buyBtn {
        font-size: 18px;
    }

    #bundles .card .cardFooter {
        gap: 22px;
    }

    #bundles .card .productDetails .detailWrapper {
        height: 145px;
    }

    #whyChoose .whyChooseContent .card {
        flex-direction: column;
        align-items: flex-start;
    }

    #whyChoose .whyChooseImg img {
        width: 100%;
    }

    #newsletter {
        top: -160px;
        padding: 12px 20px;
        width: 90%;
    }

    #newsletter .row {
        padding: 20px 12px;
        gap: 30px;
        align-items: flex-start;
    }

    #newsletter .newsletterText .nlTitle {
        font-size: 38px;
    }

    #newsletter .newsletterText .nlText {
        font-size: 20px;
    }

    #chooseUs .chooseUsImg {
        justify-content: center;
    }

    #chooseUs .chooseUsImg img {
        width: 75%;
    }

    #chooseUs .chooseUsImg::after {
        width: 56vw;
    }

    #chooseUs .wrapper {
        padding: 20px 0px;
    }

    #counter .countWrapper {
        padding: 20px;
    }

    #counter .countWrapper .countCard {
        justify-content: start;
    }

    #whyChoose .whyChooseContent .card .cardInnerFlex {
        width: 100%;
    }

    #whyChoose .whyChooseContent {
        align-items: center;
    }

    footer {
        margin-top: 270px;
    }

    footer .cpyRight {
        font-size: 16px;
        margin-top: -170px;
        padding: 50px 0px;
    }

    .countdownOver .boldText {
        font-size: 14px;
        margin-top: 10px;
    }

    .countdownOver span {
        font-size: 16px;
    }
}